<section data-ng-controller="HomeController">
  <body layout="column" ng-controller="AppCtrl">
    <div layout="row" flex>
      <div layout="column" flex id="content">
          <md-content layout="column" flex class="md-padding">
            <div layout="row" layout-margin layout-fill layout-padding>
              <div flex>I'm on the left, and there's an empty area around me.</div>
              <div flex>I'm on the right, and there's an empty area around me.</div>
            </div>
          </md-content>
      </div>
    </div>
  </body>
</section>
