<section data-ng-controller="HomeController">
  <body layout="column" ng-controller="AppCtrl">
    <div layout="row" flex>
      <div layout="column" flex id="content">
          <md-content layout="column" flex class="md-padding">
            <div layout="row" layout-fill layout-padding layout-margin>
              <div flex style="background-color:#00897B; height: 300px; padding: 84px;" align="center">
                <a href="https://github.com/mkbotoman"><i class="fa fa-github fa-5x" style="color:#fff;"></i></a>
                <h1 style="color:#fff;">Github</h1>
              </div>
              <div flex style="background-color:#8E24AA; height: 300px; padding: 84px;" align="center">
                <a href="https://www.linkedin.com/profile/view?id=123437604"><i class="fa fa-linkedin-square fa-5x" style="color:#fff;"></i></a>
                <h1 style="color:#fff;">LinkedIn</h1>
              </div>
              <div flex style="background-color:#7CB342; height: 300px; padding: 84px;" align="center">
                <a href="https://twitter.com/mkbotoman"><i class="fa fa-twitter fa-5x" style="color:#fff;"></i></a>
                <h1 style="color:#fff;">Twitter</h1>
              </div>
            </div>
            <div layout="row" layout-fill layout-padding layout-margin>
              <div flex style="background-color:#3949AB; height: 300px; padding: 84px;" align="center">
                <a href="http://apac-usa.com/"><i class="fa fa-thumbs-up fa-5x" style="color:#fff;"></i></a>
                <h1 style="color:#fff;">Non-Profits</h1>
              </div>
              <div flex style="background-color:#039BE5; height: 300px; padding: 84px;" align="center">
                <a href="https://theatw.wordpress.com/"><i class="fa fa-plane fa-5x" style="color:#fff;"></i></a>
                <h1 style="color:#fff;">Travel Blog</h1>
              </div>
              <div flex style="background-color:#00897B; height: 300px; padding: 84px;" align="center">
                <a href="http://dino.kitchen/"><i class="fa fa-cutlery fa-5x" style="color:#fff;"></i></a>
                <h1 style="color:#fff;">Food Blog</h1>
              </div>
            </div>
          </md-content>
      </div>
    </div>
  </body>
</section>
